# Site
title: Ultimate Triage
description: World of Warcraft Guild in US-Proudmoore (A)
# url: https://www.utriage.net
# public_url: https://www.utriage.net # For several force-use-public-url purposes
logo: logo.png
locale: ja_JP
google-analytics: UA-81643772-1

# Left Block Images
background:
  homepage: images/dalaran.jpg
  default-post: images/gate-of-stormwind.jpg

# Post related
max_related_posts: 4

# Jekyll
permalink: /:title/
markdown: kramdown
highlighter: rouge
kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  enable_coderay: false
sass:
  sass_dir: assets/_sass
  style: compressed

# Social Links
twitter: gada_twt
github: utriage/utriage.github.io
discord: s6gkEHF

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-gist

# Exclude list
include:
  - _pages
exclude:
  - README.md,
  - Gemfile,
  - Gemfile.lock,
  - _site,
  - src,
  - vendor,
  - CNAME,
  - LICENSE,
  - Rakefile,
  - .sass-cache,
  - .DS_Store,
  - .editorconfig,
  - .tool-versions,
  - dev_start,
  - win_dev_start.bat,

# Default frontmatters
defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
      author: "Ultimate Triage"
      tag:
        - blog
  - scope:
      path: "_pages"
      type: "pages"
    values:
      layout: "page"
      author: "Ultimate Triage"

# Serving
detach: false
port: 4000
host: 127.0.0.1
baseurl: "" # does not include hostname
show_dir_listing: false
