{% capture permalink %}{{ site.url }}{{ page.url }}{% endcapture %}
{% if page.share != false %}
  {% capture intent_text %}{{ page.title }} {{ permalink }}{% endcapture %}
  <a href="https://twitter.com/intent/tweet?text={{ intent_text | url_encode }}" class="btn btn-default" title="Tweet!">
    <i class="fa fa-fw fa-twitter" aria-hidden="true"></i><span> Tweet!</span>
  </a>
  <span class="countbubble">1</span>
{% endif %}
<div class="align-right"><a href="{{ permalink }}"><small>{{ permalink }}</small></a></div>
